.list-item label, .altitude-setting span{
    font-size: 1em;
}

.ant-slider-handle{
    border: solid 2px #1f6099;
}
.ant-slider-track{
    background-color: #1f6099;
}
.ant-slider:hover .ant-slider-track{
    background-color: #1f6099;
}
